<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST" style="background: #D0E6BB;">
  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Code" type="number" name="code" min="100" max="800" step="100" required="true">
    </div>
    <div class="field">
      <label>Temperature [&#176;C]</label>
      <input placeholder="0.0" type="number" name="temperature" min="-50" max="50" required="true">
    </div>
    <div class="field">
      <label>Pressure [hPa]</label>
      <input placeholder="0.00" type="number" name="pressure" min="900" max="1100" required="true">
    </div>
    <div class="field">
      <label>Wind Speed [km/h]</label>
      <input placeholder="000" type="number" name="windSpeed" min="0" max="150" step="0.5" required="true">
    </div>
    <div class="field">
      <label>Wind Direction [&#176;]</label>
      <input placeholder="000" type="number" name="windDirection" min="0" max="360" required="true">
    </div>
  </div>
  <button class="ui green submit button">Submit Report</button>
</form>