<table class="ui striped table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp [&#176;C]</th>
      <th>Pressure [hPa]</th>
      <th>Wind Speed [km/h]</th>
      <th>Wind Direction [&#176;]</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
      <td>
        ${reading.code}
      </td>
      <td>
        ${reading.temperature}
      </td>
      <td>
        ${reading.pressure}
      </td>
      <td>
        ${reading.windSpeed}
      </td>
      <td>
        ${reading.windDirection}
      </td>
      <td>
        <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui tiny red button">Delete Reading</a>
      </td>
    </tr>
    #{/list}
  </tbody>
</table>