<table class="ui striped table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp [&#176;C]</th>
      <th>Pressure [hPa]</th>
      <th>Wind Speed [km/h]</th>
      <th>Wind Direction [&#176;]</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
      <td>
        ${reading.date}
      </td>
      <td data-tooltip="${reading.getWeatherName()}">
        ${reading.code}
      </td>
      <td data-tooltip="${reading.getTemperatureFahrenheit()} &#176;F">
        ${reading.temperature}
      </td>
      <td>
        ${reading.pressure}
      </td>
      <td>
        ${reading.windSpeed}
      </td>
      <td>
        ${reading.windDirection}
      </td>
      <td>
        <a href="/stations/${_station.id}/deletereading/${reading.id}"
          <button class="medium red ui icon button" data-tooltip="Delete Reading">
            <i class="trash alternate icon"></i>
          </button>
        </a>
      </td>
    </tr>
    #{/list}
  </tbody>
</table>