#{extends 'main.html' /}
#{set title:'About - WeatherTop' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">About WeatherTop</h2>
  <h3 class="ui header">Learn how to unleash the full potential of WeatherTop</h3>
  <div class="ui middle aligned stackable vertically divided grid container">
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Add Station</h3>
        <p>
          Add a new weather station by filling out the form at the bottom of your Dashboard view.
          Open or Delete stations by using the icons on the panel.
        </p>
      </div>
      <div class="ten wide column">
        <img class="ui huge middle aligned rounded image" src="public/images/about/add_station.jpg">
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Add Reading</h3>
        <p>
          Submit a new weather report by using the form inside the station's view.
        </p>
      </div>
      <div class="ten wide column">
        <img class="ui huge middle aligned rounded image" src="public/images/about/add_reading.jpg">
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Weather Summary</h3>
        <p>
          The weather summary is displayed after the first reading has been added.
          Trends for Temperature, Pressure and Wind Speed represented by the up or down arrows get displayed when
          there is at least three readings in the table. Trends are calculated based on the three latest readings.
        </p>
      </div>
      <div class="ten wide column">
        <img class="ui huge middle aligned rounded image" src="public/images/about/weather_summary.jpg">
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Viewing the data</h3>
        <p>
          Hover over the values in the table to see the data in different units or a text representing the weather code.
        </p>
      </div>
      <div class="ten wide column">
        <img class="ui large middle aligned rounded image" src="public/images/about/code_hover.jpg">
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h3 class="ui header">Location of the station</h3>
        <p>
          See the area where the WeatherTop station is located by clicking the icon on the panel.
        </p>
      </div>
      <div class="ten wide column">
        <img class="ui large middle aligned rounded image" src="public/images/about/view_location.jpg">
      </div>
    </div>
  </div>
</section>