#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard", activepagetitle:"WeatherTop Stations"/}
<section class="ui segment">
  <h1 class="ui header">
    Weather stations
  </h1>
  #{list items:stations, as:'station'}
    <section class="ui segment">
      #{stationsummary station:station /}
      <div class="ui divider"></div>
      <a href="/stations/${station.id}" class="ui folder open icon">
        <button class="ui icon button">
          <i class="folder open icon"></i>
        </button>
      </a>
      <a href="/dashboard/deletestation/${station.id}">
        <button class="ui icon button">
          <i class="trash alternate icon"></i>
        </button>
      </a>
    </section>
  #{/list}
  #{addstation /}
</section>