#{extends 'main.html' /}
#{set title:'Login - WeatherTop' /}
#{welcomemenu id:"login"/}

<div class="ui two column middle aligned grid basic segment">
  <div class="sixteen wide column eight wide computer column">
    <form class="ui stacked rounded segment form" action="/authenticate" method="POST" style="border-radius: 20px;">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email">
      </div>
      <div class="field">
        <label>Password</label> <input type="password" name="password">
      </div>
      <button class="ui blue submit button">Login</button>
      #{if !errormessages?.isEmpty() && errormessages != null}
      <div class="ui negative message">
        <div class="header">
          Log in failed. Please try again.
        </div>
        <ul class="list">
          #{list items:errormessages, as:'errormessage'}
          <li>${errormessage}</li>
          #{/list}
        </ul>
      </div>
      #{/if}
    </form>
  </div>
  <div class="eight wide computer only column">
    <img class="ui huge circular image" src="/public/images/login.jpg">
  </div>
</div>